<!DOCTYPE html>
<html>
  <head>
    <title>MarinaTube - Cardistry</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="https://s.ytimg.com/yts/img/favicon-vflz7uhzw.ico" type="image/x-icon">
    <link rel="icon" href="/yts/img/favicon_32-vfl8NGn4k.png" sizes="32x32">
    <link rel="icon" href="/yts/img/favicon_48-vfl1s0rGh.png" sizes="48x48">
    <link rel="icon" href="/yts/img/favicon_96-vfldSA3ca.png" sizes="96x96">
    <link rel="icon" href="/yts/img/favicon_144-vflWmzoXw.png" sizes="144x144">
  </head>

  <body>
   	<%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
